export(aggregate_monitoring_periods_acm0008)
export(calculate_baseline_emissions_acm0008)
export(calculate_leakage_emissions_acm0008)
export(calculate_methane_volume_acm0008)
export(calculate_net_emission_reductions_acm0008)
export(calculate_project_emissions_acm0008)
export(check_applicability_methane_content)
export(check_applicability_mine_type)
export(check_applicability_utilisation_pathway)
export(estimate_emission_reductions_acm0008)
export(simulate_acm0008_dataset)
