export(aggregate_monitoring_periods_acm0013)
export(calculate_baseline_emissions_acm0013)
export(calculate_leakage_emissions_acm0013)
export(calculate_net_emission_reductions_acm0013)
export(calculate_project_emissions_acm0013)
export(check_applicability_acm0013)
export(estimate_emission_reductions_acm0013)
export(simulate_acm0013_dataset)
